@charset "utf-8";
/* CSS Document */
#wrapper{
	padding-left: 250px;
	transition: all 0.4s ease 0s;
}

#sidebar-nav{
	margin-left: -250px;
	left: 200px;
	right: 1050px;
	background: #221E1E;
	position: relative;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
	
}

#wrapper.active{
	padding-left: 0;
}

#wrapper.active #sidebar-nav{
	left: 0;
}

.sidebarnav{
	position: relative;
	top: 0;
	width: 150px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebarnav li{
	line-height: 25px;
	text-indent: 5px;
}

.sidebarnav a{
	color: #999999;
	display:block;
	text-decoration: none;
	padding-left: 60px;
}

.sidebarnav li a span:before{
	position:absolute;
	left: 0;
	color: #41484c;
	text-align: left;
	width: 20px;
	line-height: 18px;
}

.sidebarnav li a span:hover, 
.sidebarnav li a span:active{
	color: #fff;
	background: rgba(255,255,255,0.5);
	text-decoration: none;
}
/*  
.sidebarnav li a:active,
.sidebarnav li a:focus{
	text-decoration: none;
}

.sidebarnav > .sidebar-brand a{
	color: #999999;
}

.sidebarnav > .sidebar-brand a:hover{
	color: #fff;
	background: none;
}
*/
#wrapper{
	padding-left: 0;
}


#wrapper.active{
	position: relative;
	left: 250px;
}












